/* Add this media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    .headernav {
        height: auto;
        background-color: #f39d36;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
    }

    .headernav ul {
        flex-direction: column;
        align-items: center;
    }

    .headernav li {
        margin: 10px 0;
    }

    .herobannerinfo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .herobannerinfo img {
        width: 100%;
        margin-left: 0;
    }

    .coluna {
        margin-top: 20px;
    }

    .infoflex {
        text-align: center;
    }

    .cursoflex {
        width: 100%;
    }

    .cardsflex {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .form-container {
        width: 100%;
        padding-top: 20px;
    }

    .form label,
    .form input,
    .form textarea {
        width: 100%;
    }
}

/* Add this media query for screens smaller than 576px */
@media screen and (max-width: 576px) {
    .herobannerinfo p {
        font-size: 25px;
    }

    .herobannerinfo h2 {
        font-size: 30px;
    }

    .herobannerinfo h3 {
        font-size: 20px;
    }

    .coluna {
        margin-top: 10px;
    }

    .infoflex h2 {
        font-size: 30px;
    }

    .infotext2 {
        font-size: 15px;
    }

    .cursotext {
        font-size: 16px;
    }

    .cursotext2 {
        font-size: 14px;
    }

    .cardsflex .card {
        width: 100%;
    }

    .contatotext {
        font-size: 30px;
    }

    .form label,
    .form input,
    .form textarea {
        font-size: 14px;
    }

    .form input[type="submit"] {
        padding: 10px 15px;
    }

    .footer-container h1 {
        font-size: 18px;
    }

    footer p {
        font-size: 10px;
    }

    .footerlinks a {
        margin: 5px 10px;
    }
}
